
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg


.venv/
venv/
env/


.idea/
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# UV

!uv.lock
